<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style id="compiled-css" type="text/css">
        html {
            height: 100%;
        }

        body {
            overflow: hidden;
            height: 100%;
            font-family: sans-serif;
        }

        .cube {
            position: absolute;
            width: 100%;
            height: 100%;
            transition: -webkit-transform 1s;
            -webkit-transform-style: preserve-3d;
            -webkit-transform: rotateX(0deg);
        }

        .cubecalculator {
            -webkit-transform: rotateX(0deg);
        }

        p {
            width: 100%;
            color: #555;
            text-align: center;
            line-height: 1.5;
        }

        .cube .side {
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
        }

        .container {
            position: relative;
            margin: 450px auto 300px;
            width: 600px;
            height: 600px;
            perspective: 1000px;
        }

        .front {
            -webkit-transform: rotateX(0deg) translateZ(300px);
        }

        .back {
            -webkit-transform: rotateX(180deg) translateZ(300px);
        }

        .right {
            -webkit-transform: rotateY(90deg) translateZ(300px);
        }

        .left {
            -webkit-transform: rotateY(-90deg) translateZ(300px);
        }

        .top {
            -webkit-transform: rotateX(90deg) translateZ(300px);
        }

        .bottom {
            -webkit-transform: rotateX(-90deg) translateZ(300px);
        }


        .table {
            table-layout: fixed;
            width: 100%;
            height: 100%;
        }

        table {
            border-collapse: collapse;
            border-spacing: 0;
            border: 0;
        }

        .border-td {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        img {
            width: 80%;
            height: 80%;
        }

    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.0.2.js"></script>
    <script type='text/javascript'>
        function applyTransform(transform) {
            var cubeCalculator = $('.cubecalculator');
            var cube = $('#cube');
            var matrix = cubeCalculator.css('webkitTransform');
            var composite = transform + ' ' + matrix;
            cubeCalculator.get(0).style.webkitTransform = composite;
            matrix = cubeCalculator.css('webkitTransform');
            cube.get(0).style.webkitTransform = matrix;
        }

        // rotate using arrow keys
        $(document).keyup(function (e) {
            e.preventDefault();
            var key = e.which,
                arrow = {left: 37, up: 38, right: 39, down: 40},
                t;
            switch (key) {
                case arrow.left:
                    t = 'rotateY(-90deg)';
                    break;
                case arrow.right:
                    t = 'rotateY(90deg)';
                    break;
                case arrow.up:
                    t = 'rotateX(90deg)';
                    break;
                case arrow.down:
                    t = 'rotateX(-90deg)';
                    break;
            }
            applyTransform(t);
        });

        function getRotation(i, j, color, cubeSize) {
            if (color === 'RED') {
                if (i === 0) {
                    return "Z_UP";
                }
                if (i === (cubeSize * 3 - 1)) {
                    return "Z_DOWN";
                }
                if (j === 0) {
                    return "X_DOWN";
                }
                if (j === (cubeSize * 3 - 1)) {
                    return "X_UP";
                }
            } else if (color === 'WHITE') {
                if (i === 0) {
                    return "Z_UP";
                }
                if (i === (cubeSize * 3 - 1)) {
                    return "Z_DOWN";
                }
                if (j === 0) {
                    return "Y_UP";
                }
                if (j === (cubeSize * 3 - 1)) {
                    return "Y_DOWN";
                }
            } else if (color === 'ORANGE') {
                if (i === 0) {
                    return "Z_UP";
                }
                if (i === (cubeSize * 3 - 1)) {
                    return "Z_DOWN";
                }
                if (j === 0) {
                    return "X_UP";
                }
                if (j === (cubeSize * 3 - 1)) {
                    return "X_DOWN";
                }
            } else if (color === 'YELLOW') {
                if (i === 0) {
                    return "Z_UP";
                }
                if (i === (cubeSize * 3 - 1)) {
                    return "Z_DOWN";
                }
                if (j === 0) {
                    return "Y_DOWN";
                }
                if (j === (cubeSize * 3 - 1)) {
                    return "Y_UP";
                }
            } else if (color === 'BLUE') {
                if (i === 0) {
                    return "Y_UP";
                }
                if (i === (cubeSize * 3 - 1)) {
                    return "Y_DOWN";
                }
                if (j === 0) {
                    return "X_DOWN";
                }
                if (j === (cubeSize * 3 - 1)) {
                    return "X_UP";
                }
            } else {
                // GREEN
                if (i === 0) {
                    return "Y_DOWN";
                }
                if (i === (cubeSize * 3 - 1)) {
                    return "Y_UP";
                }
                if (j === 0) {
                    return "X_DOWN";
                }
                if (j === (cubeSize * 3 - 1)) {
                    return "X_UP";
                }
            }

            return null;
        }

        function createRow(i, j, cubeSize, color, cellsColorAndCoordinates, mainKube) {
            let index = Math.floor(i / 3) * cubeSize + Math.floor(j / 3);
            let colorCell = cellsColorAndCoordinates[index].color;
            let sideDivContent = `<td bgcolor="` + colorCell + `" `;

            let borderStyleParams = "";
            if (j % 3 === 2) {
                borderStyleParams += 'border-right: 1px solid #000; '
            }
            if (j % 3 === 0) {
                borderStyleParams += 'border-left: 1px solid #000; '
            }
            if (i % 3 === 2) {
                borderStyleParams += 'border-bottom: 1px solid #000; '
            }
            if (i % 3 === 0) {
                borderStyleParams += 'border-top: 1px solid #000; '
            }

            let content = ``;
            let arrowDivContent = ``;
            let arrowDivAttributes = ``;

            let isArrowCell = false;
            let arrowDeg = 0;
            if (i % 3 === 1 && j === 0) {
                isArrowCell = true;
                arrowDeg = 180;
            }
            if (i % 3 === 1 && j === cubeSize * 3 - 1) {
                isArrowCell = true;
                arrowDeg = 0;
            }
            if (j % 3 === 1 && i === cubeSize * 3 - 1) {
                isArrowCell = true;
                arrowDeg = 90;
            }
            if (j % 3 === 1 && i === 0) {
                isArrowCell = true;
                arrowDeg = -90;
            }

            if (isArrowCell) {
                let coordinates = cellsColorAndCoordinates[index].coordinates;
                let direction = getRotation(i, j, color, cubeSize);
                arrowDivAttributes += `direction="` + direction + `" x_coord="` + coordinates.x + `" y_coord="` + coordinates.y + `"` + ` z_coord="` + coordinates.z + `"`

                arrowDivContent += `
                                        <div style="text-align: center;" ` + arrowDivAttributes + `>
                                            <img src="/images/right_arrow.png" style="transform: rotate(` + arrowDeg + `deg);">
                                        </div>`
                content += arrowDivContent;
            }

            let height = mainKube.offsetHeight / (cubeSize * 3);
            borderStyleParams += 'height: ' + height;

            let closeSideDiv = `>`
            if (borderStyleParams !== "") {
                sideDivContent += 'style="' + borderStyleParams + '"';
            }
            sideDivContent += `onclick='rotateCube(this)'`;
            sideDivContent += closeSideDiv;
            sideDivContent += content;

            sideDivContent += `</td>`;
            return sideDivContent;
        }

        function createSideDiv(className, cubeSize, cellsColorAndCoordinates, color, mainKube) {
            let sideDiv = `<div class="` + className + `">`;
            sideDiv += `<table class="table">`;

            for (let i = 0; i < cubeSize * 3; i++) {
                sideDiv += `<tr>`;
                for (let j = 0; j < cubeSize * 3; j++) {
                    sideDiv += createRow(i, j, cubeSize, color, cellsColorAndCoordinates, mainKube);
                }

                sideDiv += `</tr>`;
            }
            sideDiv += `</table>`;
            sideDiv += `</div>`;
            return sideDiv;
        }

        function printCubeByData(data) {
            let mainKube = document.getElementById("cube");

            const sidesClasses = new Map();
            sidesClasses.set("RED", "side front");
            sidesClasses.set("ORANGE", "side back");
            sidesClasses.set("GREEN", "side left");
            sidesClasses.set("BLUE", "side right");
            sidesClasses.set("WHITE", "side top");
            sidesClasses.set("YELLOW", "side bottom");

            let cubeSize = data.size;
            let iter = sidesClasses.keys();
            let colorElement = iter.next();

            while (colorElement.value !== undefined) {
                let color = colorElement.value;
                let className = sidesClasses.get(color);
                let cellsColorAndCoordinates = data.sides[color];

                if (color === 'ORANGE') {
                    const reversedCellsColorAndCoordinates = []
                    for (let i = cellsColorAndCoordinates.length - 1; i >= 0; i--) {
                        let valueAtIndex = cellsColorAndCoordinates[i];
                        reversedCellsColorAndCoordinates.push(valueAtIndex);
                    }
                    cellsColorAndCoordinates = reversedCellsColorAndCoordinates;
                }

                let sideDiv = createSideDiv(className, cubeSize, cellsColorAndCoordinates, color, mainKube);
                mainKube.innerHTML += sideDiv;

                colorElement = iter.next();
            }
        }

        function printCube() {
            let gameId = location.pathname.split('/')[2];

            let xhr = new XMLHttpRequest();
            let hostname = location.hostname;
            xhr.open('POST', window.location.protocol + '//' + hostname + ':' + window.location.port + '/kube/' + gameId, true);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
            xhr.setRequestHeader('Access-Control-Allow-Methods', 'POST');
            xhr.setRequestHeader("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    printCubeByData(data);
                }
            }
            xhr.send();
        }

        function rotateCube(element) {
            let infoDiv = element.children[0];
            let x = parseInt(infoDiv.getAttribute('x_coord'));
            let y = parseInt(infoDiv.getAttribute('y_coord'));
            let z = parseInt(infoDiv.getAttribute('z_coord'));
            let direction = infoDiv.getAttribute("direction");
            let body = "{" +
                " \"direction\" : \"" + direction + "\"," +
                " \"x\" : " + x + "," +
                " \"y\" : " + y + "," +
                " \"z\" : " + z +
                "}";

            let gameId = location.pathname.split('/')[2];
            let xhr = new XMLHttpRequest();
            let hostname = location.hostname;
            xhr.open('POST', window.location.protocol + '//' + hostname + ':' + window.location.port + '/kube/' + gameId + "/rotate", true);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
            xhr.setRequestHeader('Access-Control-Allow-Methods', 'POST');
            xhr.setRequestHeader("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    let mainKube = document.getElementById("cube");
                    mainKube.innerHTML = '';
                    printCube();
                }
            }

            xhr.send(body);
        }

        function validate() {
            let xhr = new XMLHttpRequest();
            let hostname = location.hostname;
            let gameId = location.pathname.split('/')[2];
            xhr.open('GET', window.location.protocol + '//' + hostname + ':' + window.location.port + '/kube/' + gameId + "/check", true);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
            xhr.setRequestHeader('Access-Control-Allow-Methods', 'POST');
            xhr.setRequestHeader("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    if (xhr.responseText === 'true') {
                        alert("Ok");
                    } else {
                        alert("Not Ok");
                    }
                }
            }
            xhr.send();
        }

        function scramble() {
            let xhr = new XMLHttpRequest();
            let hostname = location.hostname;
            let gameId = location.pathname.split('/')[2];
            xhr.open('GET', window.location.protocol + '//' + hostname + ':' + window.location.port + '/kube/' + gameId + "/scramble", true);
            xhr.setRequestHeader('Access-Control-Allow-Origin', '*');
            xhr.setRequestHeader('Access-Control-Allow-Methods', 'POST');
            xhr.setRequestHeader("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onload = function () {
                if (xhr.status === 200) {
                    let data = JSON.parse(xhr.responseText);
                    printCubeByData(data);
                }
            }
            xhr.send();
        }

        window.onload = printCube;
    </script>
</head>
<body>
<div class="container">
    <div id="cube" class="cube">
    </div>
</div>
<div class="cubecalculator"></div>

<div>
    <input type="button" value="validate" onclick="validate()">
    <input type="button" value="scramble" onclick="scramble()">
</div>
</body>
</html>